name: Native Build

on:
  push:
    branches:
      - '**'

jobs:
  ci:
    name: 'Build and run native image'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          cache: maven
          distribution: 'temurin'
          java-version: 25
      - name: Build native image
        run: ./mvnw -Pprod,native install spring-boot:build-image
      - name: Run native image
        run: docker run --rm docker.io/bbortt/spring-native-bug-reproducer:latest
